<div class="d-flex w-100 justify-content-center" style="height: 80vh;">
    <div class="w-75 mt-3">
        <h2 class="mb-4 text-center">Funcionários</h2>
        <div class="form-floating mb-3">
            <input type="search" class="form-control" id="search" placeholder="Pesquisar" (keyup)="search()" [(ngModel)]="searchKey">
            <label for="search">Procurar por Local da obra</label>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Função</th>
                    <th scope="col">Local da obra</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let e of employees">
                    <td>{{e.firstName + ' ' + e.lastName}}</td>
                    <td>{{e.cpf}}</td>
                    <td>{{e.cnpj}}</td>
                    <td>{{e.funcao}}</td>
                    <td>{{e.workPlace}}</td>
                    <td>
                        <a class="btn btn-outline-dark me-2" routerLink="editar/{{e.id}}"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-outline-dark me-2" routerLink="funcionario/{{e.id}}"><i class="bi bi-clock"></i></a>
                        <a class="btn btn-outline-dark" href="horarios/{{e.id}}"><i class="bi bi-list-stars"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>