<div class="d-flex w-100 justify-content-center" style="height: 80vh;">
    <div class="d-flex w-75">
        <div class="col-4 p-5">
            <a class="btn btn-outline-dark px-4 py-2" href="funcionarios"><i class="bi bi-arrow-left"></i>Voltar</a>
            <h1 class="mb-4">{{employee.firstName + ' ' + employee.lastName}}</h1>
            <h4 class="mb-4">{{employee.funcao}}</h4>
            <h4 class="mb-4">{{employee.workPlace}}</h4>
            <button class="btn btn-outline-primary ms-2" (click)="save()">Salvar horário</button>
            <a class="btn btn-outline-primary ms-2" href="horarios/{{employee.id}}">Horários</a>
        </div>
        <div class="col-8 p-5">
            <button class="btn btn-outline-dark mb-2" (click)="autoComplete()">Padrão</button>
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" (change)="setStatus()" [(ngModel)]="statusSelected">
                  <option selected disabled>{{statusSelected}}</option>
                  <option value="{{s}}" *ngFor="let s of status">{{s}}</option>
                </select>
                <label for="floatingSelect">Status</label>
              </div>
            <div class="mb-2">
                <label for="workday" class="form-label">Data</label>
                <input type="date" class="form-control" id="workday" [(ngModel)]="workhour.workDay">
            </div>
            <div *ngIf="enabledForm">
                <div class="mb-2">
                    <label for="entry" class="form-label">Entrada</label>
                    <input type="time" class="form-control" id="entry" [(ngModel)]="workhour.entry">
                </div>
                <div class="mb-2">
                    <label for="breakInit" class="form-label">Almoço</label>
                    <input type="time" class="form-control" id="breakInit" [(ngModel)]="workhour.breakInit">
                </div>
                <div class="mb-2">
                    <label for="breakEnd" class="form-label">Retorno</label>
                    <input type="time" class="form-control" id="breakEnd" [(ngModel)]="workhour.breakEnd">
                </div>
                <div class="mb-2" *ngIf="!extForm">
                    <label for="leave" class="form-label">Saída</label>
                    <input type="time" class="form-control" id="leave" [(ngModel)]="workhour.leave">
                </div>
                <div class="mb-2 d-flex w-100" *ngIf="extForm">
                    <div class="mb-2 w-50 me-1">
                        <label for="startExtra" class="form-label">Inicio da Hora extra</label>
                        <input type="time" class="form-control" id="startExtra" [(ngModel)]="workhour.startExtra">
                    </div>
                    <div class="mb-2 w-50">
                        <label for="endExtra" class="form-label">Saída</label>
                        <input type="time" class="form-control" id="endExtra" [(ngModel)]="workhour.endExtra">
                    </div>
                </div>
            </div>
            <div *ngIf="!enabledForm">
                <div class="mb-2">
                    <label for="entry" class="form-label">Entrada</label>
                    <input type="time" class="form-control" id="entry" [(ngModel)]="workhour.entry" disabled>
                </div>
                <div class="mb-2">
                    <label for="breakInit" class="form-label">Almoço</label>
                    <input type="time" class="form-control" id="breakInit" [(ngModel)]="workhour.breakInit" disabled>
                </div>
                <div class="mb-2">
                    <label for="breakEnd" class="form-label">Retorno</label>
                    <input type="time" class="form-control" id="breakEnd" [(ngModel)]="workhour.breakEnd" disabled>
                </div>
                <div class="mb-2">
                    <label for="leave" class="form-label">Saida</label>
                    <input type="time" class="form-control" id="leave" [(ngModel)]="workhour.leave" disabled>
                </div>
            </div>
        </div>
    </div>
</div>