<div class="d-flex w-100 justify-content-center" style="height: 80vh;">
    <div class="d-flex w-75">
        <div class="col-4 p-5">
            <a class="btn px-4 py-2" href="funcionarios"><i class="bi bi-arrow-left"></i>Voltar</a>
            <h1 class="mb-4">{{employee.firstName + ' ' + employee.lastName}}</h1>
            <h4 class="mb-4">{{employee.funcao}}</h4>
            <h4 class="mb-4">{{employee.workPlace}}</h4>
            <button class="btn btn-primary ms-2">Salvar horário</button>
            <a class="btn btn-primary ms-2" href="funcionarios">Horários</a>
        </div>
        <div class="col-8 p-5">
            <div class="mb-2">
                <label for="workday" class="form-label">Data</label>
                <input type="date" class="form-control" id="workday">
            </div>
            <div class="mb-2">
                <label for="entry" class="form-label">Entrada</label>
                <input type="time" class="form-control" id="entry">
            </div>
            <div class="mb-2">
                <label for="entry" class="form-label">Almoço</label>
                <input type="time" class="form-control" id="entry">
            </div>
            <div class="mb-2">
                <label for="entry" class="form-label">Retorno</label>
                <input type="time" class="form-control" id="entry">
            </div>
            <div class="mb-2">
                <label for="entry" class="form-label">Saida</label>
                <input type="time" class="form-control" id="entry">
            </div>
            <button class="btn" (click)="extra()">
                <div class="display-6">
                    Hora extra
                    <i class="bi bi-toggle-on" *ngIf="ext100"></i>
                    <i class="bi bi-toggle-off" *ngIf="!ext100"></i>
                </div>
            </button>
            <button class="btn" (click)="extra50()" *ngIf="ext100">
                <div class="display-6">
                    100%
                    <i class="bi bi-toggle-on" *ngIf="ext"></i>
                    <i class="bi bi-toggle-off" *ngIf="!ext"></i>
                    50%
                </div>
            </button>
            <div class="mb-2 d-flex w-100" *ngIf="ext">
                <div class="mb-2 w-50 me-1">
                    <label for="entry" class="form-label">Inicio</label>
                    <input type="time" class="form-control" id="entry">
                </div>
                <div class="mb-2 w-50">
                    <label for="entry" class="form-label">Fim</label>
                    <input type="time" class="form-control" id="entry">
                </div>
            </div>
        </div>
    </div>
</div>