<div class="d-flex w-100 justify-content-center" style="height: 80vh;">
    <div class="w-75 mt-3">
        <h2 class="text-center">Cadastrar funcionário</h2>
        <div class="d-flex w-100 justify-content-center">
            <div class="w-50">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="employee.firstName">
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" [(ngModel)]="employee.lastName">
                    <label for="sobrenome">Sobrenome</label>
                </div>
                <div class="form-floating mb-3">
                    <input mask="000.000.000-00" type="text" class="form-control" id="CPF" placeholder="CPF" [(ngModel)]="employee.cpf">
                    <label for="CPF">CPF</label>
                </div>
                <div class="form-floating mb-3">
                    <input mask="00.000.000/0000-00" type="text" class="form-control" id="CNPJ" placeholder="CNPJ" [(ngModel)]="employee.cnpj">
                    <label for="CNPJ">CNPJ</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Funcao" placeholder="Função" [(ngModel)]="employee.funcao">
                    <label for="Funcao">Função</label>
                </div>
                <div class="d-flex justify-content-between btn-group">
                    <button class="btn btn-primary w-50" (click)="register()">Cadastrar</button>
                    <button class="btn btn-danger w-50" (click)="clear()">Limpar</button>
                </div>
            </div>
        </div>
    </div>
</div>